QPushButton {
    background-color: "white";
    border: transparent;
}

QFrame#display_frame {
    border: 1px solid "black";
    border-radius: 6px;
    background-color: "#e4e0e0";
}

QMainWindow {
    background-color: "#a29f95";
}

QVBoxLayout {
    background-color: "red";
}

QFrame#dockframe {
    border: 1px solid "black";
    border-radius: 6px;
    background-color: "white";
}

QLineEdit#check_input {
    font-size: 16px;
    border-left: 1px solid "black";
    border-radius: 0px;
    background-color: "white";
    padding: 0px 10px;
}
